---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family:    "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:      20px;
$base-font-weight:    300;
$base-letter-spacing: 1px;
$small-font-size:     $base-font-size * 0.875;
$base-line-height:    1.5;

$spacing-unit:     30px;

$text-color:          #EFEFEF;
$background-color:    #4d47a5;

$brand-color:         #cf9f76;
$brand-color-dark:    darken($brand-color,15%);
$brand-color-light:   lighten($brand-color,15%);

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
