---
layout: page
title: Blog
permalink: /blogs/
---

<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <div class="post-content" itemprop="articleBody">
        {{ post.content }}
      </div>
    </li>
  {% endfor %}
</ul>
