<footer class="site-footer">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
          {% if site.facebook_pagename %}
            <a class="social-media-icon" href="https://facebook.com/{{ site.facebook_pagename }}"><span class="icon icon--github">{% include icon-github.svg %}</span></a>
          {% endif %}

          {% if site.twitter_username %}
            <a class="social-media-icon" href="https://twitter.com/{{ site.twitter_username }}"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span></a>
          {% endif %}
          </ul>
      </div>
      <div class="footer-col footer-col-2">
          Something
      </div>
      <div class="footer-col footer-col-3">
          Content © Facilitate 2018
      </div>
    </div>

</footer>
