/**
 * Site header
 */
.site-header {
    min-height: 56px;
    padding-bottom: $spacing-unit;
    padding-top:    $spacing-unit;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-family: "Mermaid", serif;
    font-size: 56px;
    font-weight: 300;
    line-height: 70px;
    margin-bottom: 0;
    float: left;
    padding-left:    $spacing-unit * 1.5;
    padding-top:     0;
    padding-bottom:  0;

    &,
    &:visited {
        color: $brand-color;
    }
}

.site-nav {
    float: right;
    padding-right: $spacing-unit * 1.5;
    line-height: 75px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $brand-color;
        line-height: $base-line-height;
        font-family: "Mermaid", serif;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $brand-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $brand-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.social-media-icon {
    padding-right: 10px;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $brand-color-light;
    @extend %clearfix;
    height: $spacing-unit * 2;
    display: flex;
}

.footer-col {
    height: 50px;
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-1 {
    justify-self: start;
    text-align:   left;
    padding-left: $spacing-unit * 1.5;
}

.footer-col-2 {
    justify-self: center;
    text-align:   center;
}

.footer-col-3 {
    justify-self: end;
    text-align: right;
    padding-right: $spacing-unit * 1.5;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $brand-color;
}

.post-link {
    display: block;
    font-size: 24px;
    font-family: "Mermaid", serif;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-family: "Mermaid", serif;
    font-size: 42px;
    line-height: 1;

    &,
    &:visited {
        color: $brand-color;
    }

}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
